.logo {float: center;}
 nav {float: center;}
 nav ul {margin: 0;
	 padding: 0;
	 list-style: none;}
 nav li {display: inline-block;}
 body {background-image: linear-gradient(to right, #9b9b9b, #383737);}
 a {color: #040404}
 h1 { color: #000000}


